<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	    	<pattern>%d{dd-MMM-yyyy HH:mm:ss,SSS} %-5level [%thread] [%logger{60}:%line] - %m%n</pattern>
	    </encoder>
    </appender>
      
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>C://SBootLogs//core.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>C://SBootLogs//core.%d{yyyy-MMM-dd-HH:mm:ss}.log.zip</fileNamePattern>
	        
	        <!-- keep 2 day(s) worth of history capped at 20MB total size -->
      		<maxHistory>2</maxHistory>
      		<totalSizeCap>20MB</totalSizeCap>
      		<cleanHistoryOnStart>true</cleanHistoryOnStart>        
        </rollingPolicy>  
    	<encoder>
	    	<pattern>%d{dd-MMM-yyyy HH:mm:ss,SSS} %-5level [%thread] [%logger{10}:%line] - %m%n</pattern>
    	</encoder>
	</appender>
        
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    
    <Logger name="com.sv" level="DEBUG"/>
    <logger name="org.springframework.boot" level="ERROR"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.webflow" level="DEBUG"/>
    <logger name="org.ocpsoft.rewrite" level="DEBUG"/>
    <logger name="org.quartz" level="ERROR"/>
    <logger name="org.springframework.scheduling.quartz" level="ERROR"/>
    <logger name="org.primefaces" level="ERROR"/>
    
    
	<logger name="com.zaxxer.hikari.pool.PoolBase" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>    
</configuration>
  